h1 {
    color: purple;
    font-weight: 700;
    font-size:5em;
}

body {
    background-image: url(img/jf-brou-915UJQaxtrk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
}
html {
    height: 100%;
}
#content {
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgb(75, 68, 68),
                 0px 8px 13px rgb(102, 99, 99),
                 0px 18px 23px rgb(146, 143, 143);
}

hr {
    width: 400px;
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0,0,0,2);
}